.Login {
  box-sizing: border-box;
  background-color: #f6f2ee;
  width: 600px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  -webkit-box-shadow: -1px 8px 21px -19px rgba(66, 68, 90, 1);
  -moz-box-shadow: -1px 8px 21px -19px rgba(66, 68, 90, 1);
  box-shadow: -1px 8px 21px -19px rgba(66, 68, 90, 1);
  margin: 0 auto;
  margin-top: 50px;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.isSubmitting {
  width: 30px;
  padding: 20px;
  background-color: aquamarine;
}
.buttons {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.black {
  padding: 20px;
  background-color: #836243;
  color: white;
  border-radius: 15px;
  border: none;
}
.blackdisabled {
  background-color: rgba(66, 68, 90, 1);
  color: white;
  border-radius: 15px;
  padding: 20px;
}
.input {
  width: 400px;
  height: 40px;
  background-color: #e6e0e9;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-radius: 10px;
}
.checkbox {
  accent-color: black;
  width: 20px;
  height: 15px;
}
.buttoncontainer {
  display: flex;
  gap: 30px;
}
.span {
  font-weight: bold;
}
.spaneye {
  z-index: 2;
  position: absolute;
  margin-left: 370px;
  margin-top: 13px;
}
.error {
  text-align: center;
  background-color: red;
  width: 100%;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

@media (max-width: 700px) {
  .Login {
    margin-left: 100px;
    height: 104vh;
    margin-top: 0;
    background-color: #f6f2ee;
  }

  .buttoncontainer {
    display: flex;
    flex-direction: column;
  }
  .container {
    /* margin-top: 60px; */
    margin-bottom: 50px;
  }
  .buttoncontainer {
    margin-top: 40px;
  }
  .input {
    width: 350px;
  }
  .button {
    margin-top: 100px;
  }
  .span {
    font-weight: bold;
  }
  .spaneye {
    margin-left: 310px;
  }
  .error {
    width: 50%;
  }
}
