.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.buttons {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.black {
  padding: 20px;
  color: white;
  border-radius: 15px;
  border: none;
}
.input {
  width: 400px;
  height: 40px;
  background-color: #e6e0e9;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-radius: 10px;
}
.checkbox {
  accent-color: black;
  width: 20px;
  height: 15px;
}
.buttoncontainer {
  display: flex;
  gap: 30px;
}
.span {
  font-weight: bold;
}
.spaneye {
  z-index: 2;
  position: absolute;
  margin-left: 370px;
  margin-top: 13px;
}

@media (max-width: 700px) {
  .buttoncontainer {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin-top: 60px;
  }
  .buttoncontainer {
    margin-top: 40px;
  }
  .input {
    width: 350px;
  }
  .button {
    margin-top: 100px;
  }
  .span {
    font-weight: bold;
  }
  .spaneye {
    margin-left: 310px;
  }
}
