.navbar {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 15px;
  background: rgb(255, 255, 255);
  background: rgb(235, 216, 197);
  background: radial-gradient(
    circle,
    rgba(235, 216, 197, 1) 39%,
    rgba(247, 237, 223, 1) 100%
  );
}
.nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 50px;
}
.navlink {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.navhome {
  text-decoration: none;
  list-style: none;
  color: #7b5c3f;
  font-size: 16px;
  font-weight: 700;
}
.profile {
  margin-left: 80px;
}
