.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #f6f2ee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 600px;
  border-radius: 20px;
}

.container h1 {
  font-family: "Manrope";
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: -0.005em;
  text-align: center;
  color: #060606;
  margin-bottom: 0%;
  padding: 0%;
}

.container p {
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.0168em;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 1.5rem;
}
.wrapper {
  display: block;
  padding: 10px 0;
  position: relative;
}

.wrapper h3 {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #000;
  font-size: "Inter", sans-serif;
  font-weight: 600;
  padding-top: 0;
}

.wrapper input {
  display: block;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 1.3px #878787;
  width: 87%;
  padding: 15px;
  border-radius: 20px, 25px, 25px, 25px;
  background-color: #e6e0e9;
  border-bottom: 1px solid #49454f;
  align-items: center;
  justify-content: center;
}

.wrapper .Custom {
  margin-top: 20px;
}
.text {
  display: flex;
  justify-content: flex-start;
  padding: 0%;
  margin: 0%;
}
.inputcontainer .input {
  border: none;
  border-radius: 8px, 8px, 0px, 0px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1.3px #878787;
  width: 87%;
  padding: 15px;
  /* margin-bottom: 20px; */
  background-color: #e6e0e9;
  border-bottom: 1px solid #49454f;
}

.inputemail {
  border: none;
  border-radius: 8px, 8px, 0px, 0px;
  background-color: #ffffff;
  width: 87%;
  margin-right: 2rem;
  padding: 15px;
  background-color: #e6e0e9;
  border-bottom: 1px solid #49454f;
  margin-top: 25px;
}
.inputcontainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}
.icon {
  position: absolute;
  top: 40%;
  right: 40px;
  color: #292d32;
  text-align: center;
}

.flex input:checked {
  accent-color: #000000;
}

.flex input[type="checkbox"] {
  width: 20px;
  height: 20px;
  color: #000;
}

.btn {
  width: 100%;
  padding: 8px;
  background: #836243;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.btnss button {
  display: inline;
  width: 45%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  color: #593a19;
}

.btnn {
  margin-left: 15px;
}

.error {
  color: red;
}

.anchor {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .btnss button {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0% auto;
  }
  button .btnn {
    margin-top: 40px;
  }
}
