.button {
  padding: 10px;
  background-color: #392b1d;
  border: none;
  border-radius: 10px;
  color: white;
}
.bloom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-left: 70px;
}

.bloomcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.lists {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  gap: 20px;
  margin-right: 60px;
}
.h2 {
  color: #fff6ed;
  text-align: center;
}
.list {
  list-style: none;
}
.li {
  margin-bottom: 20px;
  color: #7b5c3f;
}
