.App {
  text-align: center;
}

.Login {
  box-sizing: border-box;
  background-color: #f6f2ee;
  width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 25px;
  -webkit-box-shadow: -1px 8px 21px -19px rgba(66, 68, 90, 1);
  -moz-box-shadow: -1px 8px 21px -19px rgba(66, 68, 90, 1);
  box-shadow: -1px 8px 21px -19px rgba(66, 68, 90, 1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 700px) {
  .Login {
    margin-left: 120px;
    height: 125vh;
    margin-top: 0;
    background-color: #f6f2ee;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
