body {
  margin: 0;
 mySignup
  padding: 0;
  background-color: #fff6ed;
  box-sizing: border-box;
  
 main
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #fff6ed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Btn {
  width: 100%;
  padding: 8px;
  background: #836243;
  color: #ffffff;
  border-radius: 8px 0px 0px 0px;
  margin-top: 1.5rem;
}
