.services,
body {
  width: 100%;
  background: rgb(235, 216, 197);
  background: radial-gradient(
    circle,
    rgba(235, 216, 197, 1) 39%,
    rgba(247, 237, 223, 1) 100%
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    87.34deg,
    rgba(255, 255, 255, 0.2) 17.79%,
    rgba(153, 153, 153, 0.2) 61.85%
  );
  padding: 15px;
  gap: 189px;
  max-width: 100%;
  overflow-x: hidden;
}
nav,
ul,
li,
a {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  color: #000;
}

/* second header begins here */
.Header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* width: 1450.84px; */
  width: 100%;
  margin: 0 auto;
}

.imgDivs {
  display: inline;
  padding: 2.5rem;
}

.inputfield input {
  position: relative;
  padding: 10px;
  border-radius: 16px;
  background: #d9d9d980;
  width: 250px;
  border: none;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.16) inset;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.16) inset;
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.16) inset;
}

.search {
  position: absolute;
  margin-top: -27px;
  margin-left: 250px;
}

/* card styles begin here */

.cards img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 16px;
  background: #fbe3b1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.texttag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  /* line-height: 21.86px; */
  text-align: left;
}
.buttonCards {
  /* position: absolute; */
  bottom: -60rem; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  color: #fff;
  background-color: #392b1d;
  border-radius: 8px;
  width: 192px;
  padding: 10px;
  margin-top: -1px;
  margin-left: 699px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.cards h5 {
  font-size: 24px;
  font-weight: 200;
  padding: 0;
  margin: 0;
  color: #392b1d;
}

.star img {
  width: 18px;
  height: 18px;
}
